:root {
    --accent-color: #FFFDF5;
}

body {
    background: var(--accent-color);
}

@keyframes cursor-blink {
    from, to {
        background: transparent;
    }
    50% {
        background: black;
    }
}
